.nav-bar {
  background-color: white;
  display: flex;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  font-weight: 100;
  color: #686868;
}



.nav-bar .right-nav {
  right: 0px;
  float: right;
}

.left-nav {
  display: flex;
  padding: 15px;
  position: relative;
  float: right;
  margin-left: 150px;
}

.nav-link {
  padding: 0px 20px;
}

.nav-link:hover {
  color: pink;
  cursor: pointer;
}
